SprintBootSoap/src/main/resources/officeAddressExample.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.nilesh.org/loanEligibility/officeAddress" 
	xmlns:offAddr="http://www.nilesh.org/loanEligibility/officeAddress"
	elementFormDefault="qualified">

	<xs:complexType name="address">
		<xs:sequence>
			<xs:element name="city" type="xs:string" />
			<xs:element name="state" type="xs:string" />
			<xs:element name="country" type="xs:string" />
		</xs:sequence>
	</xs:complexType>

</xs:schema>